@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

body{
    background-color: #A7B1D3;
    
}

header{
    display: flex;
}

h1{
    padding-left: 556px;
    font-size: 30px;
    font-family: 'Inter', sans-serif;
}
.quadro  {
    display: flex;
    background: rgba(255, 255, 255, 0.21);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.74);
    width: 408px;
    height: 466px;
    padding-left: 50px ;
    border-radius: 20px;
    margin: auto; /* centraliza horizontalmente e verticalmente */
}

.formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 63px;
    margin-top: 5px;
   
}

.form {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    
  
}

.label_1{
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    margin-bottom:  20px;
    margin-left: 10px;
    padding-top:  10px;
}
.label_2{
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    margin-bottom:  20px;
    margin-left: 10px;
    padding-top:  10px;
    
}
.input_form1{
    width: 234px;
    height: 31px;
    border-radius: 50px;
    margin-bottom:  20px;
    text-indent: 5px;
}
.input_form2{
    width: 234px;
    height: 31px;
    border-radius: 50px;
    margin-bottom:  20px;
    text-indent: 5px;
}

#botao_enviar{
    font-size: 16px;
    font-weight: bolder;
    width: 89px;
    height: 38px;
    border-radius: 15px;
    margin-left: 69px;
    margin-top: 121px;
    
}

main{
    /* centraliza o texto  */
    text-align: center; 
    padding-top: 30px;
    /*  cor do quadro branco */
    background-color: rgb(255, 255, 255);
    /*  tamanho do quadro */
    height: 160px;
    width: 386px;
    /* move o quadro para esquerda  */
    margin-left: 470px;
    margin-top: 110px;
    /* Borda redondada  */
    border-radius: 20px;
    /* estilo da fonte */
    font-family: 'Inter', sans-serif;
    /* tamanho da fonte */
    font-size: 25px;
}
p{
    font-size: 12px;
    padding-top: 30px;
}
